{% extends 'store/base.html' %}
{% load cloudinary %}

{% block title %}{{ product.name }} — Muravka{% endblock %}

{% block content %}

<h2>{{ product.name }}</h2>

{% if product.image %}
    {% cloudinary product.image.url width=800 crop="scale" quality="auto" fetch_format="auto" %}
{% endif %}

<p>{{ product.description }}</p>

<p>
    <strong>Ціна:</strong> {{ product.price }} грн
</p>

<form action="{% url 'store:cart_add' product.id %}" method="post">
    {% csrf_token %}

    {{ form.quantity }}

    <button type="submit">Додати в кошик</button>
</form>

<a href="/">← Повернутися до каталогу</a>

{% endblock %}
