{% extends 'store/base.html' %}
{% load cloudinary %}

{% block title %}
    {% if category %}
        {{ category.name }} — Muravka
    {% else %}
        Каталог — Muravka
    {% endif %}
{% endblock %}

{% block content %}

<h2>Категорії</h2>
<ul>
    <li>
        <a href="{% url 'store:product_list' %}">
            Всі
        </a>
    </li>
    {% for c in categories %}
        <li>
            <a href="{% url 'store:product_list_by_category' c.slug %}">
                {{ c.name }}
            </a>
        </li>
    {% endfor %}
</ul>

<h2>
    {% if category %}
        {{ category.name }}
    {% else %}
        Всі товари
    {% endif %}
</h2>

<div class="row">
    {% for product in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card">

                {% if product.image %}
                    {% cloudinary product.image.url width=300 crop="scale" quality="auto" fetch_format="auto" class="card-img-top" loading="lazy" %}
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'store:product_detail' product.slug %}" style="color:#3e2723;">
                            {{ product.name }}
                        </a>
                    </h5>

                    <p>{{ product.price }} грн</p>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

<div class="mt-4">

    {% if page_obj.has_previous %}
        {% if query %}
            <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">← Назад</a>
        {% else %}
            <a href="?page={{ page_obj.previous_page_number }}">← Назад</a>
        {% endif %}
    {% endif %}

    <span>Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        {% if query %}
            <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Вперед →</a>
        {% else %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед →</a>
        {% endif %}
    {% endif %}

</div>

{% endblock %}